{{ field_id = field_key ? (field_key | replace:'.':'_') : (parent_handle ? "{parent_handle}_{handle}" : handle) }}
<div
    x-data="{
        options: {{ options | to_json | entities }},
        comboboxData: {{ options | to_json | entities }},
        fieldHandle: '{{ field_key ?? handle }}',
        isOpen: false,
        openUpwards: false,
        openedWithKeyboard: false,
        selectedOption: null,

        get selectedLabel() {
            return this.options[this.selectedOption]
        },

        setSelectedOption(index) {
            this.selectedOption = index
            this.isOpen = false
            this.openedWithKeyboard = false
            this.$dispatch('validate-field', '{{ field_key ?? handle }}')
        },

        getFilteredOptions(query) {
            this.options = Object.entries(this.comboboxData)
                .filter(([key, value]) =>
                    value.toLowerCase().includes(query.toLowerCase())
                )
                .reduce((obj, [key, value]) => {
                    obj[key] = value;
                    return obj;
                }, {});
            if (Object.values(this.options).length === 0) {
                this.$refs.noResultsMessage.classList.remove('hidden')
            } else {
                this.$refs.noResultsMessage.classList.add('hidden')
            }
        },

        handleKeydownOnOptions(event) {
            if ((event.keyCode >= 65 && event.keyCode <= 90) || (event.keyCode >= 48 && event.keyCode <= 57) || event.keyCode === 8) {
                this.$refs.searchField.focus()
            }
        },

        checkPosition() {
            this.$nextTick(() => this.openUpwards = (window.innerHeight - this.$refs.dropdownButton.getBoundingClientRect().bottom) < this.$refs.dropdown.getBoundingClientRect().height);
        },
    }"
    x-modelable="selectedOption"
    x-model="submitFields['{{ field_key ?? handle }}']"
    class="flex w-full max-w-full flex-col gap-1"
    x-on:keydown="handleKeydownOnOptions($event)"
    x-on:keydown.esc.window="if (isOpen || openedWithKeyboard) { isOpen = false; openedWithKeyboard = false; $dispatch('validate-field', '{{ field_key ?? handle }}') }"
>
    <div class="relative">
        <button
            type="button"
            id="{{ form_id }}_{{ field_id }}"
            class="inline-flex w-full items-center justify-between gap-2 bg-ef-input-bg border text-ef-input-text rounded-ef p-2.5 hover:bg-ef-dropdown-hover transition-colors duration-150 focus:outline-none"
            x-bind:class="isOpen || openedWithKeyboard ? 'border-ef-focus ring-2 ring-ef-focus' : 'border-ef-border focus:border-ef-focus focus:ring-2 focus:ring-ef-focus'"
            role="combobox"
            aria-controls="list"
            aria-haspopup="listbox"
            {{ if has_own_instructions }}aria-describedby="{{ form_id }}_{{ field_id }}-description"{{ /if }}
            x-ref="dropdownButton"
            x-on:click="isOpen = ! isOpen; checkPosition()"
            x-on:keydown.down.prevent="openedWithKeyboard = true"
            x-on:keydown.enter.prevent="openedWithKeyboard = true"
            x-on:keydown.space.prevent="openedWithKeyboard = true"
            x-bind:aria-expanded="isOpen || openedWithKeyboard"
            x-bind:aria-label="selectedOption ? selectedLabel : '{{ "Please select" | trans }}'"
        >
            <span class="font-normal" x-text="selectedOption ? selectedLabel : '{{ placeholder ?? "Please select" | trans }}'"></span>
            <svg class="size-5 text-ef-input-text" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"/>
            </svg>
        </button>

        <div
            x-show="isOpen || openedWithKeyboard"
            id="statesList"
            class="absolute left-0 z-10 w-full overflow-hidden rounded-ef border border-ef-dropdown-border bg-ef-dropdown-bg"
            x-bind:class="openUpwards ? 'bottom-full' : 'top-11'"
            role="listbox"
            aria-label="list"
            x-ref="dropdown"
            x-on:click.outside="isOpen = false; openedWithKeyboard = false; $dispatch('validate-field', '{{ field_key ?? handle }}')"
            x-on:keydown.down.prevent="$focus.wrap().next()"
            x-on:keydown.up.prevent="$focus.wrap().previous()"
            x-transition
            x-trap="openedWithKeyboard"
        >
            <div class="relative">
                <svg class="absolute left-4 top-1/2 size-5 -translate-y-1/2 text-ef-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="1.5" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
                </svg>
                <input
                    type="text"
                    class="w-full border-b border-ef-dropdown-border bg-ef-dropdown-bg py-2.5 pl-11 pr-4 text-ef text-ef-text-muted focus:border-ef-focus focus:ring-0 focus:outline-none disabled:cursor-not-allowed disabled:opacity-75"
                    name="searchField"
                    aria-label="{{ 'Search' | trans }}"
                    x-on:input="getFilteredOptions($el.value)"
                    x-ref="searchField"
                    placeholder="{{ 'Search' | trans }}..."
                    autocomplete="off"
                />
            </div>
            <ul class="flex max-h-44 flex-col overflow-y-auto bg-ef-text-white">
                <li class="hidden px-4 py-2 text-ef text-ef-text-muted" x-ref="noResultsMessage">
                    <span>{{ "No results found" | trans }}</span>
                </li>
                <template x-for="(item, index) in options" x-bind:key="index">
                    <li
                        class="combobox-option inline-flex cursor-pointer justify-between gap-6 bg-ef-dropdown-bg px-4 py-2 text-ef text-ef-text-muted hover:bg-ef-dropdown-hover hover:text-ef-text focus-visible:bg-ef-dropdown-hover focus-visible:text-ef-text focus-visible:outline-none"
                        role="option"
                        x-on:click="setSelectedOption(index)"
                        x-on:keydown.enter="setSelectedOption(index)"
                        x-bind:id="'option-' + index"
                        tabindex="0"
                    >
                        <div class="flex items-center gap-2">
                            <span x-bind:class="selectedOption == index ? 'font-bold' : null" x-text="item"></span>
                            <span class="sr-only" x-text="selectedOption == index ? '{{ 'selected' | trans }}' : null"></span>
                        </div>
                        <svg
                            x-cloak
                            x-show="selectedOption == index"
                            class="size-4"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            fill="none"
                            stroke-width="2"
                            aria-hidden="true"
                        >
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5">
                        </svg>
                    </li>
                </template>
            </ul>
        </div>
    </div>
</div>
