<input
    class="form-input bg-ef-input-bg border border-ef-border text-ef-input-text rounded-ef focus:border-ef-focus focus:ring-2 focus:ring-ef-focus focus:outline-none block w-full p-2.5"
    id="{{ handle }}"
    name="{{ handle }}"
    type="number"
    inputmode="numeric"
    {{ if min_value || min_value === 0 }}min="{{ min_value }}"{{ /if }}
    {{ if max_value || max_value === 0 }}max="{{ max_value }}"{{ /if }}
    {{ if has_own_instructions }}aria-describedby="{{ handle }}-description"{{ /if }}
    autocomplete="off"
    x-model.number="submitFields['{{ handle }}']"
>
