<select
    x-model="submitFields['{{ handle }}']"
    id="{{ handle }}"
    name="{{ handle }}"
    class="form-select bg-ef-input-bg border border-ef-border text-ef-input-text rounded-ef focus:border-ef-focus focus:ring-0 focus:outline-none block w-full p-2.5"
    {{ if has_own_instructions }}aria-describedby="{{ handle }}-description"{{ /if }}
>
    <option value="" disabled>{{ placeholder ?? "Please select" | trans }}</option>
    {{ foreach:options }}
        <option value="{{ key }}" {{ if key == default }}selected{{ /if }}>
            {{ value ?? key }}
        </option>
    {{ /foreach:options }}
</select>
