<div
    x-data="{
        options: {{ options | to_json | entities }},
        comboboxData: {{ options | to_json | entities }},
        fieldHandle: '{{ handle }}',
        isOpen: false,
        openUpwards: false,
        openedWithKeyboard: false,
        selectedOption: null,

        init() {
            {{# Check for a pre-filled value #}}
            const initialValue = this.$refs.phoneNumber.value;

            if (initialValue) {
                {{# Find the country code that the initial value starts with #}}
                {{# Sort by length descending to match longer codes first #}}
                const matchingOption = [...this.comboboxData]
                    .sort((a, b) => b.code.length - a.code.length)
                    .find(opt => initialValue.startsWith(opt.code));

                if (matchingOption) {
                    {{# If a match is found, set it as the selected option #}}
                    this.selectedOption = matchingOption.value;
                }
            }
        },

        setSelectedOption(option) {
            this.selectedOption = option.value;
            this.isOpen = false;
            this.openedWithKeyboard = false;

            let existingValue = this.$refs.phoneNumber.value || '';

            {{# Use regex to strip any previous country code. #}}
            existingValue = existingValue.replace(/^\+\d+\s*/, '');

            {{# Set new value with selected country code + existing number. #}}
            this.$refs.phoneNumber.value = `${option.code} ${existingValue}`;

            {{# Focus the input and position cursor at the end for immediate typing #}}
            this.$nextTick(() => {
                this.$refs.phoneNumber.focus();
                const cursorPos = this.$refs.phoneNumber.value.length;
                this.$refs.phoneNumber.setSelectionRange(cursorPos, cursorPos);
            });
        },

        handleDeletion(event) {
            {{# Prevent deletion of the country code prefix #}}
            if (this.selectedOption) {
                const selected = this.comboboxData.find(opt => opt.value === this.selectedOption);
                if (selected && (event.key === 'Backspace' || event.key === 'Delete')) {
                    const prefixLength = selected.code.length + 1;
                    if (event.target.selectionStart < prefixLength) {
                        event.preventDefault();
                    }
                }
            }
        },

        handleInput(event) {
            {{# Ensure the country code always stays at the beginning #}}
            if (this.selectedOption) {
                const selected = this.comboboxData.find(opt => opt.value === this.selectedOption);
                if (selected && !event.target.value.startsWith(selected.code + ' ')) {
                    {{# If the user tries to remove the prefix, restore it #}}
                    let currentValue = event.target.value.replace(selected.code, '').trim();
                    event.target.value = `${selected.code} ${currentValue}`;

                    {{# Restore cursor position after the prefix #}}
                    this.$nextTick(() => {
                        const cursorPos = selected.code.length + 1;
                        event.target.setSelectionRange(cursorPos, cursorPos);
                    });
                }
            }
        },

        getSelectedOptionLabel() {
            if (!this.selectedOption) return null;
            const selected = this.comboboxData.find(opt => opt.value === this.selectedOption);
            return selected ? selected.code : null;
        },

        getFilteredOptions(query) {
            this.options = this.comboboxData.filter((option) =>
                option.label.toLowerCase().includes(query.toLowerCase()) ||
                option.code.toLowerCase().includes(query.toLowerCase())
            );
            if (this.options.length === 0) {
                this.$refs.noResultsMessage.classList.remove('hidden');
            } else {
                this.$refs.noResultsMessage.classList.add('hidden');
            }
        },

        handleKeydownOnOptions(event) {
            {{# Allows typing to focus the search field when the dropdown is open. #}}
            if (!this.isOpen) return;
            if ((event.keyCode >= 65 && event.keyCode <= 90) || (event.keyCode >= 48 && event.keyCode <= 57) || event.keyCode === 8) {
                this.$refs.searchField.focus();
            }
        },

        checkPosition() {
            this.$nextTick(() => this.openUpwards = (window.innerHeight - this.$refs.dropdownButton.getBoundingClientRect().bottom) < this.$refs.dropdown.getBoundingClientRect().height);
        },
    }"
    class="flex w-full flex-col gap-1"
    x-on:keydown="handleKeydownOnOptions($event)"
    x-on:keydown.esc.window="isOpen = false, openedWithKeyboard = false"
>
    <div class="relative flex w-full">
        <button
            type="button"
            class="inline-flex w-max items-center justify-between gap-2 whitespace-nowrap rounded-l-ef border bg-ef-dropdown-bg px-4 py-2.5 font-medium text-ef-input-text tracking-wide transition hover:bg-ef-dropdown-hover focus:outline-none relative"
            x-bind:class="isOpen || openedWithKeyboard ? 'z-10 border-ef-focus ring-2 ring-ef-focus' : 'border-ef-border border-r-0 focus:z-10 focus:border-r focus:border-ef-focus focus:ring-2 focus:ring-ef-focus'"
            role="combobox"
            aria-controls="list"
            aria-haspopup="listbox"
            x-ref="dropdownButton"
            x-on:click="
                isOpen = !isOpen;
                checkPosition();
                if (isOpen) {
                    $nextTick(() => $refs.searchField.focus());
                }
            "
            x-on:keydown.down.prevent="openedWithKeyboard = true"
            x-on:keydown.enter.prevent="openedWithKeyboard = true"
            x-on:keydown.space.prevent="openedWithKeyboard = true"
            x-bind:aria-expanded="isOpen || openedWithKeyboard"
            x-bind:aria-label="selectedOption ? getSelectedOptionLabel() : '{{ "Select" | trans }}'"
        >
            <span class="font-normal" x-text="selectedOption ? getSelectedOptionLabel() : '{{ "Select" | trans }}'"></span>
            <svg class="size-5 text-ef-input-text" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"/>
            </svg>
        </button>

        <div
            x-show="isOpen || openedWithKeyboard"
            id="phonesList"
            class="absolute left-0 z-10 w-full overflow-hidden rounded-ef border border-ef-dropdown-border bg-ef-dropdown-bg"
            x-bind:class="openUpwards ? 'bottom-full' : 'top-11'"
            role="listbox"
            aria-label="list"
            x-ref="dropdown"
            x-on:click.outside="isOpen = false, openedWithKeyboard = false"
            x-on:keydown.down.prevent="$focus.wrap().next()"
            x-on:keydown.up.prevent="$focus.wrap().previous()"
            x-transition
            x-trap.inert="openedWithKeyboard"
            x-cloak
        >
            <div class="relative">
                <svg class="absolute left-4 top-1/2 size-5 -translate-y-1/2 text-ef-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="1.5" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
                </svg>
                <input
                    type="text"
                    class="w-full border-b border-ef-dropdown-border bg-ef-dropdown-bg py-2.5 pl-11 pr-4 text-ef text-ef-text-muted focus:border-ef-focus focus:ring-0 focus:outline-none disabled:cursor-not-allowed disabled:opacity-75"
                    name="searchField"
                    aria-label="{{ 'Search' | trans }}"
                    x-on:input="getFilteredOptions($el.value)"
                    x-ref="searchField"
                    placeholder="{{ "Filter..." | trans }}"
                    autocomplete="off"
                />
            </div>
            <ul class="flex max-h-44 flex-col overflow-y-auto bg-ef-text-white">
                <li class="hidden px-4 py-2 text-ef text-ef-text-muted" x-ref="noResultsMessage">
                    <span>{{ "No results found" | trans }}</span>
                </li>
                <template x-for="(item, index) in options" x-bind:key="item.value">
                    <li
                        class="combobox-option inline-flex cursor-pointer justify-between gap-6 bg-ef-dropdown-bg px-4 py-2 text-ef text-ef-text-muted hover:bg-ef-dropdown-hover hover:text-ef-text focus-visible:bg-ef-dropdown-hover focus-visible:text-ef-text focus-visible:outline-none"
                        role="option"
                        x-on:click="setSelectedOption(item)"
                        x-on:keydown.enter="setSelectedOption(item)"
                        x-bind:id="'option-' + index"
                        tabindex="0"
                    >
                        <div class="flex items-center gap-2">
                            <span x-bind:class="selectedOption == item.value ? 'font-bold' : null">
                                <span x-text="item.label"></span> (<span class="font-bold" x-text="item.code"></span>)
                            </span>
                            <span class="sr-only" x-text="selectedOption == item.value ? '{{ 'selected' | trans }}' : null"></span>
                        </div>
                        <svg
                            x-cloak
                            x-show="selectedOption == item.value"
                            class="size-4"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            fill="none"
                            stroke-width="2"
                            aria-hidden="true"
                        >
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5">
                        </svg>
                    </li>
                </template>
            </ul>
        </div>
        <input
            id="{{ handle }}"
            type="tel"
            class="form-input bg-ef-input-bg border border-ef-border text-ef-input-text rounded-r-ef focus:ring-2 focus:ring-ef-focus focus:border-ef-focus focus:outline-none block w-full p-2.5 disabled:cursor-not-allowed disabled:opacity-75 relative focus:z-10"
            x-ref="phoneNumber"
            autocomplete="tel"
            x-model="submitFields['{{ handle }}']"
            x-on:keydown="handleDeletion($event)"
            x-on:input="handleInput($event)"
            placeholder="{{ "Select country code first" | trans }}"
            x-bind:readonly="!selectedOption"
            {{ if has_own_instructions }}aria-describedby="{{ handle }}-description"{{ /if }}
        />
    </div>
</div>
