<input
    class="form-input bg-ef-input-bg border border-ef-border text-ef-input-text rounded-ef focus:border-ef-focus focus:ring-2 focus:ring-ef-focus focus:outline-none block w-full p-2.5"
    id="{{ handle }}"
    name="{{ handle }}"
    placeholder="{{ placeholder ?? '' | trans }}"
    type="{{ input_type ?? 'text' }}"
    {{ if autocomplete }}autocomplete="{{ autocomplete }}"{{ /if }}
    {{ if has_own_instructions }}aria-describedby="{{ handle }}-description"{{ /if }}
    x-model="submitFields['{{ handle }}']"
    x-on:blur="$dispatch('validate-field', '{{ handle }}')"
>
