{{ field_id = field_key ? (field_key | replace:'.':'_') : (parent_handle ? "{parent_handle}_{handle}" : handle) }}
<div>
    <label class="inline-flex items-center cursor-pointer" for="{{ form_id }}_{{ field_id }}">
        <input
            type="checkbox"
            class="sr-only peer"
            id="{{ form_id }}_{{ field_id }}"
            name="{{ field_name ?? handle }}"
            role="switch"
            {{ if inline_label }}aria-labelledby="{{ form_id }}_{{ field_id }}-label"{{ /if }}
            {{ if has_own_instructions }}aria-describedby="{{ form_id }}_{{ field_id }}-description"{{ /if }}
            x-model="submitFields['{{ field_key ?? handle }}']"
            x-on:change="$dispatch('validate-field', '{{ field_key ?? handle }}')"
        >
        <div
            class="relative shrink-0 w-11 h-6 bg-ef-toggle-off peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-ef-focus/60
            rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-ef-text-white
            after:content-[''] after:absolute after:top-0.5 after:start-0.5 after:bg-ef-text-white after:border-ef-checkbox-border
            after:border after:rounded-full after:w-5 after:h-5 after:transition-all peer-checked:bg-ef-toggle-on"
        >
        </div>
        <span class="ms-3 text-ef-text [&_a]:underline [&_a]:text-ef-accent" id="{{ form_id }}_{{ field_id }}-label">
        {{ if label_override }}
            {{ label_override | markdown | strip_tags:p | replace:'<a ':'<a target="_blank" rel="noopener noreferrer" ' }}
        {{ else }}
            {{ inline_label }}
        {{ /if }}
        </span>
    </label>
</div>
