<div>
    <label class="inline-flex items-center cursor-pointer" for="{{ handle }}">
        <input
            type="checkbox"
            class="sr-only peer"
            id="{{ handle }}"
            name="{{ handle }}"
            role="switch"
            {{ if instructions }}aria-describedby="{{ handle }}-description"{{ /if }}
            x-model="submitFields['{{ handle }}']"
        >
        <div
            class="relative flex-shrink-0 w-11 h-6 bg-ef-toggle-off peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-ef-focus/60
            rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-ef-text-white
            after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-ef-text-white after:border-ef-checkbox-border
            after:border after:rounded-full after:w-5 after:h-5 after:transition-all peer-checked:bg-ef-toggle-on"
        >
        </div>
            <span class="ms-3 font-medium text-ef-text *:underline *:font-bold" id="{{ handle }}-description">
                {{ instructions | markdown | strip_tags('p') }}
            </span>
    </label>
</div>
