<div
    class="{{ if honeypot === handle || input_type === 'hidden' }}hidden{{ /if }} {{ if width === 50 }}col-span-12 md:col-span-6{{ elseif width === 33 }}col-span-12 md:col-span-4{{ elseif width === 25 }}col-span-12 md:col-span-3{{ else }}col-span-12{{ /if }}"
    x-show="shouldShowField('{{ handle }}')"
>
    {{ unless type === 'toggle' || type === 'spacer' }}
    <div class="flex items-center mb-2" {{ if type === 'integer' && integer_template === 'counter' }}id="{{ form_id }}_{{ handle }}-label"{{ /if }}>
        {{ if type === 'checkboxes' || type === 'radio' || (type === 'integer' && integer_template === 'rating') }}
        <span class="block font-semibold text-ef text-ef-label">
        {{ else }}
        <label class="block font-semibold text-ef text-ef-label" for="{{ form_id }}_{{ handle }}">
        {{ /if }}
            {{ if prepend }}
            <span class="text-ef-text-muted">{{ prepend | trans }}</span>
            {{ /if }}
            {{ display | trans }}
            {{ if append }}
            <span class="text-ef-text-muted">{{ append | trans }}</span>
            {{ /if }}
        {{ if type === 'checkboxes' || type === 'radio' || (type === 'integer' && integer_template === 'rating') }}
        </span>
        {{ else }}
        </label>
        {{ /if }}
        {{ if optional }}
        <span class="ml-2 text-ef text-ef-text-muted">
            ({{ "Optional" | trans }})
        </span>
        {{ /if }}
    </div>
    {{ /unless }}

    {{ if has_own_instructions && instructions && (instructions_position === 'above' || ! instructions_position) && type !== 'spacer' }}
    <div id="{{ form_id }}_{{ handle }}-description" class="mb-3 text-ef text-ef-text">
        {{ instructions | trans }}
    </div>
    {{ /if }}

    {{# Simple text input #}}
    {{ if type == 'text' && !((input_type == 'tel' && improved_field) || (input_type == 'date' && improved_field) || (input_type == 'time' && improved_field)) }}
        {{ partial:statamic-easy-forms::form/fieldtypes/text }}
    {{ /if }}

    {{# Date #}}
    {{ if input_type == 'date' && type == 'text' && improved_field }}
        {{ partial:statamic-easy-forms::form/fieldtypes/date }}
    {{ /if }}

    {{# Phone #}}
    {{ if input_type == 'tel' && type == 'text' && improved_field }}
        {{ partial:statamic-easy-forms::form/fieldtypes/telephone }}
    {{ /if }}

    {{# Time #}}
    {{ if input_type == 'time' && type == 'text' && improved_field }}
        {{ partial:statamic-easy-forms::form/fieldtypes/time }}
    {{ /if }}

    {{# Integer #}}
    {{ if type == 'integer' && (integer_template === 'simple' || !integer_template) }}
        {{ partial:statamic-easy-forms::form/fieldtypes/integer }}
    {{ /if }}

    {{# Integer Counter #}}
    {{ if type == 'integer' && integer_template === 'counter' }}
        {{ partial:statamic-easy-forms::form/fieldtypes/integer_counter }}
    {{ /if }}

    {{# Integer Rating #}}
    {{ if type == 'integer' && integer_template === 'rating' }}
        {{ partial:statamic-easy-forms::form/fieldtypes/integer_rating }}
    {{ /if }}

    {{# Radio #}}
    {{ if type == 'radio' && !improved_field }}
        {{ partial:statamic-easy-forms::form/fieldtypes/radio }}
    {{ /if }}

    {{# Radio Improved #}}
    {{ if type == 'radio' && improved_field }}
        {{ partial:statamic-easy-forms::form/fieldtypes/radio_improved }}
    {{ /if }}

    {{# Checkboxes #}}
    {{ if type == 'checkboxes' }}
        {{ partial:statamic-easy-forms::form/fieldtypes/checkboxes }}
    {{ /if }}

    {{# Select #}}
    {{ if type == 'select' && !improved_field }}
        {{ partial:statamic-easy-forms::form/fieldtypes/select }}
    {{ /if }}

    {{# Select Improved #}}
    {{ if type == 'select' && improved_field }}
        {{ partial:statamic-easy-forms::form/fieldtypes/select_improved }}
    {{ /if }}

    {{# Textarea #}}
    {{ if type == 'textarea' }}
        {{ partial:statamic-easy-forms::form/fieldtypes/textarea }}
    {{ /if }}

    {{# Assets #}}
    {{ if type == 'assets' }}
        {{ partial:statamic-easy-forms::form/fieldtypes/assets }}
    {{ /if }}

    {{# Files #}}
    {{ if type == 'files' }}
        {{ partial:statamic-easy-forms::form/fieldtypes/files }}
    {{ /if }}

    {{# Dictionary #}}
    {{ if type == 'dictionary' && dictionary !== 'country_phone_codes' }}
        {{ partial:statamic-easy-forms::form/fieldtypes/dictionary }}
    {{ /if }}

    {{# Toggle #}}
    {{ if type == 'toggle' }}
        {{ partial:statamic-easy-forms::form/fieldtypes/toggle }}
    {{ /if }}

    {{# Spacer #}}
    {{ if type == 'spacer' }}
        {{ partial:statamic-easy-forms::form/fieldtypes/spacer }}
    {{ /if }}

    {{ if has_own_instructions && instructions && instructions_position === 'below' && type !== 'spacer' }}
    <div id="{{ form_id }}_{{ handle }}-description" class="mt-3 text-ef text-ef-text">
        {{ instructions | trans }}
    </div>
    {{ /if }}

    <div class="mt-2 text-ef-error" x-show="errors['{{ handle }}']" x-text="errors['{{ handle }}']" x-transition role="alert" aria-live="polite"></div>
</div>